  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label>Name</label>
      <input
      type="text"
      class="form-control"
      id="name"
      style="width: 30%;"
      name="name"
      [(ngModel)]="name"
      required>
    </div>

    <div class="form-group">
      <label>E-mail</label>
      <input
      type="email"
      class="form-control"
      id="email"
      style="width: 30%;"
      name="email"
      [(ngModel)]="email"
      required
      email>
    </div>
    <!-- on keydown blocks letter 'e' as an input of a number -->
    <div class="form-group">
      <label>Mobile Number</label>
      <input
      type="text"
      class="form-control"
      id="mobile=number"
      style="width: 30%;"
      name="mobileNumber"
      onkeydown="return event.keyCode !== 69"
      [(ngModel)]="mobileNumber"
      required
      maxlength="11"
      minlength="11"
      (keydown)="check($event)"
      >

    </div>
    <!-- add the if else if add or edit -->
    <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!f.valid"
    href="records">ADD/EDIT
  </button>
  </form>
