.action-buttons button{
  margin: 3px;
  text-align: center;
  font-weight: bold;
}

.action-buttons {
  text-align: center;
}

.head-container{
  padding-left: 3%;
}

.head-container table{
  max-width: 97%;
}

td {
  vertical-align: middle;
  text-align: left;
  padding: 5px;
  border-color: gray;
}

th {
  vertical-align: middle;
  border-color: gray;
}

hr{
  max-width: 97%;
  height: 12px;
}

thead{
  background-color: #A100FF;
  color: white;;
}

.action-col{
  text-align: center;
}
