<div class="head-container">
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" style="width: 4%;">ID</th>
        <th scope="col" style="width: 24%;">NAME</th>
        <th scope="col" style="width: 24%;">E-MAIL</th>
        <th scope="col" style="width: 19%;">MOBILE NUMBER</th>
        <th scope="col" class="action-col" style="width: 24%;">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tableData; let i = index">
        <td scope="row" class="id rounded">{{i + 1}}</td>
        <td class="name-data rounded">{{data.name  | titlecase}}</td>
        <td class="emailrounded">{{data.email | lowercase}}</td>
        <td class="rounded">{{data.mobileNumber}}</td>
        <td class="buttons-cell rounded">
          <div class="action-buttons">
            <button type="button" class="btn btn-primary" routerLink="../record" style= "width: 30%;" (click)="onDisplay(data.id)">View</button>
            <button type="button" class="btn btn-primary" style= "width: 30%;" (click)="onUpdate(data.id)">Update</button>
            <button type="button" class="btn btn-primary" style= "width: 30%;" (click)="onDelete(data.id)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


